#include <physical_layouts.dtsi>

/ {
    sofle_layout: sofle_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  300   20       0     0     0>
            , <&key_physical_attrs 100 100 1100   20       0     0     0>
            , <&key_physical_attrs 100 100 1000   25       0     0     0>
            , <&key_physical_attrs 100 100  200   35       0     0     0>
            , <&key_physical_attrs 100 100  400   35       0     0     0>
            , <&key_physical_attrs 100 100 1200   35       0     0     0>
            , <&key_physical_attrs 100 100    0   50       0     0     0>
            , <&key_physical_attrs 100 100  100   50       0     0     0>
            , <&key_physical_attrs 100 100  500   50       0     0     0>
            , <&key_physical_attrs 100 100  900   50       0     0     0>
            , <&key_physical_attrs 100 100 1300   50       0     0     0>
            , <&key_physical_attrs 100 100 1400   50       0     0     0>
            , <&key_physical_attrs 100 100  300  120       0     0     0>
            , <&key_physical_attrs 100 100 1100  120       0     0     0>
            , <&key_physical_attrs 100 100 1000  125       0     0     0>
            , <&key_physical_attrs 100 100  200  135       0     0     0>
            , <&key_physical_attrs 100 100  400  135       0     0     0>
            , <&key_physical_attrs 100 100 1200  135       0     0     0>
            , <&key_physical_attrs 100 100    0  150       0     0     0>
            , <&key_physical_attrs 100 100  100  150       0     0     0>
            , <&key_physical_attrs 100 100  500  150       0     0     0>
            , <&key_physical_attrs 100 100  900  150       0     0     0>
            , <&key_physical_attrs 100 100 1300  150       0     0     0>
            , <&key_physical_attrs 100 100 1400  150       0     0     0>
            , <&key_physical_attrs 100 100  300  220       0     0     0>
            , <&key_physical_attrs 100 100 1100  220       0     0     0>
            , <&key_physical_attrs 100 100  200  235       0     0     0>
            , <&key_physical_attrs 100 100  400  235       0     0     0>
            , <&key_physical_attrs 100 100 1000  235       0     0     0>
            , <&key_physical_attrs 100 100 1200  235       0     0     0>
            , <&key_physical_attrs 100 100    0  250       0     0     0>
            , <&key_physical_attrs 100 100  100  250       0     0     0>
            , <&key_physical_attrs 100 100  500  250       0     0     0>
            , <&key_physical_attrs 100 100  900  250       0     0     0>
            , <&key_physical_attrs 100 100 1300  250       0     0     0>
            , <&key_physical_attrs 100 100 1400  250       0     0     0>
            , <&key_physical_attrs 100 100  300  320       0     0     0>
            , <&key_physical_attrs 100 100 1100  320       0     0     0>
            , <&key_physical_attrs 100 100  200  335       0     0     0>
            , <&key_physical_attrs 100 100  400  335       0     0     0>
            , <&key_physical_attrs 100 100 1000  335       0     0     0>
            , <&key_physical_attrs 100 100 1200  335       0     0     0>
            , <&key_physical_attrs 100 100    0  350       0     0     0>
            , <&key_physical_attrs 100 100  100  350       0     0     0>
            , <&key_physical_attrs 100 100  500  350       0     0     0>
            , <&key_physical_attrs 100 100  900  350       0     0     0>
            , <&key_physical_attrs 100 100 1300  350       0     0     0>
            , <&key_physical_attrs 100 100 1400  350       0     0     0>
            , <&key_physical_attrs 100 100  275  435       0     0     0>
            , <&key_physical_attrs 100 100  375  435       0     0     0>
            , <&key_physical_attrs 100 100 1025  435       0     0     0>
            , <&key_physical_attrs 100 100  175  450       0     0     0>
            , <&key_physical_attrs 100 100 1125  435       0    25     0>
            , <&key_physical_attrs 100 100 1225  450       0    50     0>
            , <&key_physical_attrs 100 100  600  325    1500    75     0>
            , <&key_physical_attrs 100 150  775   60    3000     0     0>
            , <&key_physical_attrs 100 150  425  785 (-3000)    50     0>
            , <&key_physical_attrs 100 100  750  690 (-1500)     0     0>
            ;
    };
  };
